# Airbnb Data Prep for Tableau

1. Import libraries and Combined Data
2. Clean and Wrange Data
3. Export dataset

## 1. Import libraries and Combined Data Set

In [9]:
# Import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [10]:
path = r'C:\Users\lizan\Desktop\Data Analytics\07-22 Airbnb Toronto Analysis'

In [12]:
df = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'Listings_Calendar_Combined.pkl'))

In [13]:
df.shape

(5537417, 25)

In [15]:
df.columns

Index(['Unnamed: 0', 'listing_id', 'name', 'host_id', 'host_name',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price_x',
       'minimum_nights_x', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license', 'date',
       'available', 'price_y', 'adjusted_price', 'minimum_nights_y',
       'maximum_nights', '_merge'],
      dtype='object')

In [17]:
df.head()

,Unnamed: 0,listing_id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price_x,...,availability_365,number_of_reviews_ltm,license,date,available,price_y,adjusted_price,minimum_nights_y,maximum_nights,_merge
0,0,1419,Beautiful home in amazing area!,1565,Alexandra,Little Portugal,43.6459,-79.42423,Entire home/apt,469.0,...,0,0,NaN,2022-06-06,f,469.0,469.0,28.0,NaN,both
1,0,1419,Beautiful home in amazing area!,1565,Alexandra,Little Portugal,43.6459,-79.42423,Entire home/apt,469.0,...,0,0,NaN,2022-06-07,f,469.0,469.0,28.0,NaN,both
2,0,1419,Beautiful home in amazing area!,1565,Alexandra,Little Portugal,43.6459,-79.42423,Entire home/apt,469.0,...,0,0,NaN,2022-06-08,f,469.0,469.0,28.0,NaN,both
3,0,1419,Beautiful home in amazing area!,1565,Alexandra,Little Portugal,43.6459,-79.42423,Entire home/apt,469.0,...,0,0,NaN,2022-06-09,f,469.0,469.0,28.0,NaN,both
4,0,1419,Beautiful home in amazing area!,1565,Alexandra,Little Portugal,43.6459,-79.42423,Entire home/apt,469.0,...,0,0,NaN,2022-06-10,f,469.0,469.0,28.0,NaN,both

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5537417 entries, 0 to 5537416
Data columns (total 25 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Unnamed: 0                      int64
 1   listing_id                      object
 2   name                            object
 3   host_id                         int64
 4   host_name                       object
 5   neighbourhood                   object
 6   latitude                        float64
 7   longitude                       float64
 8   room_type                       object
 9   price_x                         float64
 10  minimum_nights_x                float64
 11  number_of_reviews               int64
 12  last_review                     object
 13  reviews_per_month               float64
 14  calculated_host_listings_count  int64
 15  availability_365                int64
 16  number_of_reviews_ltm           int64
 17  license                         object
 18  date                            object
 19  available                       object
 20  price_y                         float64
 21  adjusted_price                  float64
 22  minimum_nights_y                float64
 23  maximum_nights                  float64
 24  _merge                          category
dtypes: category(1), float64(9), int64(6), object(9)
memory usage: 1.0+ GB

## 2. Clean and Wrangle Data

In [19]:
# removed Unnamed column
df.drop(columns = ['Unnamed: 0'], inplace=True)

In [20]:
# Change host id to object
df['hos_id'] = df['host_id'].astype('str')

In [21]:
# rename price_x to list price
df.rename(columns = {'price_x':'list_price'}, inplace=True)

In [23]:
# Check for missing values
df.isnull().sum()

listing_id                              0
name                                  730
host_id                                 0
host_name                            1095
neighbourhood                           0
latitude                                0
longitude                               0
room_type                               0
list_price                           2190
minimum_nights_x                   121910
number_of_reviews                       0
last_review                       1176395
reviews_per_month                 1176395
calculated_host_listings_count          0
availability_365                        0
number_of_reviews_ltm                   0
license                           3458375
date                                    0
available                               0
price_y                              2663
adjusted_price                       2663
minimum_nights_y                   124929
maximum_nights                    4682129
_merge                                  0
hos_id                                  0
dtype: int64

In [24]:
# removed minimum_nights_y column as it is a dupilcated variable
df.drop(columns = ['minimum_nights_y'], inplace=True)

In [25]:
# rename minimum_nights_x to minimum_nights
df.rename(columns = {'minimum_nights_x':'minimum_nights'}, inplace=True)

In [26]:
# removed price_y column as it is a dupilcated variable
df.drop(columns = ['price_y'], inplace=True)

In [27]:
# rename minimum_nights_x to minimum_nights
df.rename(columns = {'adjusted_price':'booked_price'}, inplace=True)

In [28]:
# removed merge colume
df.drop(columns = ['_merge'], inplace=True)

In [29]:
df.describe()

,host_id,latitude,longitude,list_price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,booked_price,maximum_nights
count,5.537417e+06,5.537417e+06,5.537417e+06,5.535227e+06,5.415507e+06,5.537417e+06,4.361022e+06,5.537417e+06,5.537417e+06,5.537417e+06,5.534754e+06,855288.000000
mean,1.331611e+08,4.368371e+01,-7.939789e+01,1.739809e+02,2.101900e+01,2.718442e+01,1.216132e+00,5.799946e+00,1.220657e+02,6.280615e+00,1.796826e+02,44.328651
std,1.301217e+08,5.125070e-02,6.875846e-02,2.134418e+02,1.465067e+01,5.495694e+01,1.673120e+00,1.686908e+01,1.265706e+02,1.462906e+01,2.230948e+02,24.971267
min,1.565000e+03,4.357381e+01,-7.965365e+01,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e-02,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,2.296288e+07,4.364585e+01,-7.942646e+01,7.500000e+01,3.000000e+00,1.000000e+00,1.700000e-01,1.000000e+00,0.000000e+00,0.000000e+00,7.800000e+01,28.000000
50%,8.695886e+07,4.366372e+01,-7.939684e+01,1.200000e+02,2.800000e+01,6.000000e+00,5.500000e-01,1.000000e+00,7.700000e+01,0.000000e+00,1.200000e+02,31.000000
75%,2.222455e+08,4.370793e+01,-7.937597e+01,2.000000e+02,2.800000e+01,2.700000e+01,1.560000e+00,4.000000e+00,2.420000e+02,5.000000e+00,2.000000e+02,60.000000
max,4.619506e+08,4.386071e+01,-7.910220e+01,6.848000e+03,9.000000e+01,8.280000e+02,1.500000e+01,1.510000e+02,3.650000e+02,1.650000e+02,7.000000e+03,90.000000

In [32]:
df['booked_price'].max()

7000.0

In [33]:
df.to_pickle(os.path.join(path,'02 Data','Prepared Data','Airbnb_Combined.pkl'))

In [34]:
df.to_csv(os.path.join(path,'02 Data','Prepared Data','Airbnb_Combined.csv'))