# Combine Listings and Calendar Data

1. Import Libraries and Data
2. Merge Datasets
3. Check Merged Data
4. Export Combined Data

# 1. Import Libraries and Data

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Define path
path = r'C:\Users\lizan\Desktop\Data Analytics\07-22 Airbnb Toronto Analysis'

In [3]:
# Import Listings data
listings = pd.read_csv(os.path.join(path, '02 Data','Prepared Data','Listings_Clean.csv'))

In [4]:
# Import Calendar Data
cal = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data','Calendar_Clean.pkl'))

In [5]:
listings.shape

(15171, 18)

In [6]:
cal.shape

(5537417, 7)

# 2. Merge Datasets

In [7]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15171 entries, 0 to 15170
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      15171 non-null  int64
 1   id                              15171 non-null  int64
 2   name                            15169 non-null  object
 3   host_id                         15171 non-null  int64
 4   host_name                       15168 non-null  object
 5   neighbourhood                   15171 non-null  object
 6   latitude                        15171 non-null  float64
 7   longitude                       15171 non-null  float64
 8   room_type                       15171 non-null  object
 9   price                           15165 non-null  float64
 10  minimum_nights                  14837 non-null  float64
 11  number_of_reviews               15171 non-null  int64
 12  last_review                     11948 non-null  object
 13  reviews_per_month               11948 non-null  float64
 14  calculated_host_listings_count  15171 non-null  int64
 15  availability_365                15171 non-null  int64
 16  number_of_reviews_ltm           15171 non-null  int64
 17  license                         5696 non-null   object
dtypes: float64(5), int64(7), object(6)
memory usage: 2.1+ MB

In [8]:
cal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5537417 entries, 0 to 5537416
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      object
 1   date            object
 2   available       object
 3   price           float64
 4   adjusted_price  float64
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(4), object(3)
memory usage: 295.7+ MB

In [10]:
# rename id to listings_id
listings.rename(columns = {'id':'listing_id'}, inplace=True)

In [12]:
# change listing ID to object
listings['listing_id'] = listings['listing_id'].astype('str')

In [13]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15171 entries, 0 to 15170
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      15171 non-null  int64
 1   listing_id                      15171 non-null  object
 2   name                            15169 non-null  object
 3   host_id                         15171 non-null  int64
 4   host_name                       15168 non-null  object
 5   neighbourhood                   15171 non-null  object
 6   latitude                        15171 non-null  float64
 7   longitude                       15171 non-null  float64
 8   room_type                       15171 non-null  object
 9   price                           15165 non-null  float64
 10  minimum_nights                  14837 non-null  float64
 11  number_of_reviews               15171 non-null  int64
 12  last_review                     11948 non-null  object
 13  reviews_per_month               11948 non-null  float64
 14  calculated_host_listings_count  15171 non-null  int64
 15  availability_365                15171 non-null  int64
 16  number_of_reviews_ltm           15171 non-null  int64
 17  license                         5696 non-null   object
dtypes: float64(5), int64(6), object(7)
memory usage: 2.1+ MB

In [16]:
# merge calendar into listings dataset
listings_cal = listings.merge(cal, on = ['listing_id'],indicator = True)

# 3. Check Merged Data

In [18]:
listings_cal.head()

,Unnamed: 0,listing_id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price_x,...,availability_365,number_of_reviews_ltm,license,date,available,price_y,adjusted_price,minimum_nights_y,maximum_nights,_merge
0,0,1419,Beautiful home in amazing area!,1565,Alexandra,Little Portugal,43.6459,-79.42423,Entire home/apt,469.0,...,0,0,NaN,2022-06-06,f,469.0,469.0,28.0,NaN,both
1,0,1419,Beautiful home in amazing area!,1565,Alexandra,Little Portugal,43.6459,-79.42423,Entire home/apt,469.0,...,0,0,NaN,2022-06-07,f,469.0,469.0,28.0,NaN,both
2,0,1419,Beautiful home in amazing area!,1565,Alexandra,Little Portugal,43.6459,-79.42423,Entire home/apt,469.0,...,0,0,NaN,2022-06-08,f,469.0,469.0,28.0,NaN,both
3,0,1419,Beautiful home in amazing area!,1565,Alexandra,Little Portugal,43.6459,-79.42423,Entire home/apt,469.0,...,0,0,NaN,2022-06-09,f,469.0,469.0,28.0,NaN,both
4,0,1419,Beautiful home in amazing area!,1565,Alexandra,Little Portugal,43.6459,-79.42423,Entire home/apt,469.0,...,0,0,NaN,2022-06-10,f,469.0,469.0,28.0,NaN,both

In [19]:
listings_cal.shape

(5537417, 25)

# 4. Export Combined Data

In [21]:
listings_cal.to_pickle(os.path.join(path,'02 Data','Prepared Data','Listings_Calendar_Combined.pkl'))